@import 'base/var';
@import 'mixin/mixin';
@import './module/btn';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/content';
@import 'page/index';
@import 'page/aboutus';


.test {
   transition: all .5s;
   user-select: none;
   display: flex;
   align-items: center;
}
 
