@import 'base/var';
@import 'push';

// 置中
@mixin center-box() {
    margin-left: auto;
    margin-right: auto;
}

@mixin rect($w, $h:null) {
    width: $w;
    height: $h;

}

@mixin layout($class, $w) {
    .#{$class} {
        @if $w==1200px {
            max-width: 1200px;
            width: 100%;
            @include center-box();
            @content;

        }

        @else {
            width: $w;
            @content;

        }

    }
}

@mixin rects($w, $h:$w) {
    width: $w;
    height: $h;
}

@mixin flexcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin m() {
    @media all and (max-width: $m_breakpoint) {
        @content;
    }
}

@mixin t() {
    @media all and (min-width:$t_breakpoint_min) and (max-width: $t_breakpoint_max) {
        @content;
    }
}




//===================

.box_center {
    @include center-box();
    @include rects(100px, 80px);
    background-color: #ff8c00;

    @include m() {
        background-color: rgb(34, 255, 0);
    }
}

.wrapper {
    @include rect(1200px, 300px);
    background-color: rgb(215, 215, 215);
    @include center-box();
}

.wrapper_flex {
    @include rect(1200px, 800px);
    @include center-box();

    @include flexcenter() {
        background-color: rgb(225, 225, 225);
    }

    ;

    .box1 {
        @include rects(80px);
        background-color: rgb(255, 146, 50);
    }
}

@include layout('wrapper_aboutus', 1200px) {
    background-color: #dcdcdc;

}

;

@include layout('section', 100vw) {
    background-color: rgb(255, 176, 176);

}

;


@include layout('section1', 1200px) {
    background-color: #fff7ba;

}

;


body {
    color: rgb(0, 145, 255)
}

@include t() {
    body {
        font-size: 100px;
        color: #f20;
    }
}



@include m() {
    body {
        font-size: 30px;
        color: rgb(255, 146, 50)
    }
}


@for $i from 1 through 100 {
    .box-#{$i} {
        width: $i *1px;
    }
}

// 調整物件 mixin
@mixin push($num, $dir, $d:d) {
    @for $i from 1 through $num {
        .push-#{$d}-#{$dir}-#{$i} {
            position: relative;
            #{$dir}: $i * 1px;
        }
    }
}

// 桌機版
@include push(200, left);
@include push(200, top);

// 手機版
@include m() {
    @include push(100, left, m);
}
// 平板
@include t() {
    @include push(100, left, t);
}


