@import 'base/var';

@import 'layout/header';
@import 'layout/footer';
@import 'aboutus';







/* css 註解 */
// scss 註解
body {
  font-size: $basic_fontsize;
  padding: $padding;
  margin: $margin;
  color: $color;
  font-family: $fontFamily;
  background-image: url('#{$img_path}/a.jpg'); //字串轉型
}

// class轉型
#{$layout} {
  width: 1200px;
  #{$attr}: 0 auto; //屬性轉型
}

.btn {
  background-color: map-get($btn-color, error);
  margin-top: $a;
}

a {
  color: $link;
}


$bgc : rgb(43, 69, 176);

.link {
  width: 100px;
  padding: 0 10px;
  background-color: $bgc;
}

.link:hover {
  background-color: lighten($bgc, 20);
}

a:hover {
  color: darken($link, 20);
}

//運算 單位 跟 除式

.op {
  width: 10 + 12px;
  height: 100 - 10px;
  padding: 100px * 10; //單位
  font-size: round(100 / 12) + px;
}


// 判斷式

$btn_size : large;

.btn_box {
  @if $btn_size=='large' {
    width: 200px;
  }

  @else if $btn_size=='medium' {
    width: 180px;
  }

  @else {
    width: 150px;
  }
}

.color {
  @if $color=='black'and $color==#000 {
    color: #000
  }

  @else {
    color: $color;
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;



  .content {
    width: 100%;
  }
}














