$basic_fontsize : 16px;// 數值
$margin :10px 10px 12px 13px; //list
$color : rgb(51, 51, 51); // color
$fontFamily :  "Gill Sans", sans-serif; //字串
$padding :  null;// 空值
$img_path : 'images'; // 字串轉型

/* css 註解 */
// scss 註解
body {
  font-size: $basic_fontsize;
  padding:$padding;
  margin: $margin;
  color: $color;
  font-family: $fontFamily;
  background-image: url('#{$img_path}/a.jpg'); //字串轉型
}