$basic_fontsize : 16px; // 數值
$margin :10px 10px 12px 13px; //list
$color : black; // color
$fontFamily : "Gill Sans",
sans-serif; //字串
$padding : null; // 空值
$img_path : 'images'; // 字串轉型
$layout : '.wrapper';
$attr : 'padding';
$btn-color :('primary' : #4d4d4d,
  'error' : #f20,
); //map


$link : #f20;




$a : 10px;
$a : 30px !default;